.nav-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: beige;
    text-decoration: none;
    /* border: rgb(13, 0, 255) solid; */
}

.nav-profile__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow: hidden;
    border: rgb(1, 216, 52) solid;
}

.nav-profile__container:hover {
    background-color: rgb(35, 97, 154);
    color: rgb(212, 212, 212);
}

.nav-profile__label {
    display: flex;
    padding-left: .5vw;
    padding-right: .5vw;
    /* border: rgb(216, 1, 33) solid; */
}

.nav-profile__photo {
    display: flex;
    height: 4vh;
    width: 4vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    border-radius: 50%;
}
.nav-profile__image {
    width: 100%;
}




/* 
.nav-dropdown {
    display: flex;
    border: rgb(13, 0, 255) solid;
}

.nav-dropdown__container {
    display: flex;
    position: absolute;
    flex-direction: column;
    border: rgb(216, 1, 33) solid;
} */