@media screen and (max-width: 1000px) {
    .user-profile__header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-profile__name {
        font-size: medium;
        font-weight: 600;
    }
    .user-profile__data {
        flex-direction: column;
    }
}

.user-page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: center;
    /* border: rgb(2, 255, 19) solid; */
}

.user-page__container {
    display: flex;
    /* position: static; */
    /* min-height: 150vh; */
    width: 80%;
    background-color: rgb(124, 181, 235);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
    /* border: rgb(210, 0, 31) solid; */
}
  
.user-page__body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 5.5vh .5vh .5vh .5vh;
    /* border: rgb(1, 117, 9) solid; */
}
  
.user-page__side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    height: 100%;
    margin: 0 5px 5px 0;
    background-color: rgb(186, 220, 251);
    text-decoration: none;
    /* border: rgb(111, 1, 117) solid; */
}

.user-page__side-bar ul {
    list-style-type: none;
    width: 100%;
    /* border: rgb(111, 1, 117) solid; */
}

.side-bar__item {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(35, 88, 138);
    padding: 5px;
    min-height: 4vh;
    transition: .2s;
}

.side-bar__item:hover {
    color: rgb(15, 60, 101);
    background-color: rgb(156, 195, 233);
    font-weight: 600;
}
  
.user-page__content {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: start; */
    min-height: 100vh;
    width: 80%;
    background-color: rgb(186, 220, 251);
    /* border: rgb(111, 1, 117) solid; */
}

.user-profile__header {
    position: relative;
    display: flex;
    margin: 5px;
    background-color: rgb(124, 181, 235);
    /* border: rgb(1, 24, 117) solid; */
}

.user-profile__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vh;
    /* margin-left: 1vw; */
    margin: 5px 1vw;
    overflow: hidden;   
    border-radius: 50%;
    border: rgb(255, 255, 255) solid 5px;
}

.user-profile__photo img {
    width: 100%;
    /* height: 15vh;
    width: 15vh; */
}

.user-profile_info {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 85%;
    /* border: rgb(243, 0, 0) solid; */
}

.user-profile__name {
    display: flex;
    /* min-height: 40%; */
    font-size: 2rem;
    font-weight: 900;
    /* width: 49vw; */
    /* border: rgb(24, 117, 1) solid; */
}

.user-profile__data {
    /* position: relative; */
    display: flex;
    height: 60%;
    /* border: rgb(24, 117, 1) solid; */
}

.user-profile__content {
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 100%;
    background-color: rgb(124, 181, 235);
    /* border: rgb(1, 24, 117) solid; */
}

.user-profile__edit-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: medium;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(46, 117, 183);
    transition: 0.2s;
}

.user-profile__edit-button:hover {
    background-color: rgb(35, 97, 154);
    color: rgb(212, 212, 212);
}

.user-profile__label {
    /* padding: 5px; */
    /* min-width: 3vw; */
    color: beige;
    text-decoration: none;
}

.user-profile__label:hover {
    color: rgb(212, 212, 212);
}

.user-profile__back-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7.5vh;
    left: 4.5vw;
    color: azure;
    border: none;
    font-size: larger;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(46, 117, 183);
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.user-profile__back-button:hover {
    background-color: rgb(35, 97, 154);
    color: rgb(212, 212, 212);
}