.admin-page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: center;
    border: rgb(2, 255, 19) solid;
}

.admin-page__container {
    display: flex;
    width: 80vw;
    min-height: 95vh;
    height: fit-content;
    background-color: rgb(124, 181, 235);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
    border: rgb(210, 196, 0) solid;
}

.admin-page__content {
    display: flex;
    width: 100%;
    border: rgb(0, 210, 7) solid;
}

.admin-page__body {
    display: flex;
    width: 100%;
    margin: 5.5vh .5vh .5vh .5vh;
    background-color: rgb(188, 222, 254);
    border: rgb(200, 0, 210) solid;
}