.nav-dropdown {
    display: flex;
    color: rgb(110, 117, 125);
    text-decoration: none;
    /* border: rgb(13, 0, 255) solid; */
}

.nav-dropdown__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
    /* border: rgb(216, 1, 33) solid; */
}

.dropdown__list{
    display: flex;
    width: 100%;
    height: max-content;
    /* border: rgb(216, 1, 33) solid; */
}

.nav-dropdown__item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    min-height: 4vh;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: rgb(161, 165, 170) solid 1px;
    /* border: rgb(1, 216, 15) solid; */
}

.nav-dropdown__item:hover {
    color: rgb(67, 72, 78);
    background-color: rgb(222, 222, 222);
}