.article-edit-page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: center;
    border: rgb(2, 255, 19) solid;
}

.article-edit-page__container {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    width: 80vw;
    min-height: 100vh;
    height: 95vh;
    background-color: rgb(124, 181, 235);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.8);
    border: rgb(210, 196, 0) solid;
}