@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

@media screen and (max-width: 400px) {
    .main__container {
        min-height: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Gothic A1, sans-serif;
  color: beige;
  background-color: rgb(186, 220, 251); 
}

.main {
  display: flex;
  flex-direction: column;
  font-size: medium;
  align-items: center;
}

.main__container {
  display: flex;
  position: static;
  min-height: 150vh;
  width: 80%;
  background-color: rgb(124, 181, 235);
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
  /* border: rgb(210, 0, 31) solid; */
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5.5vh .5vh .5vh .5vh;
  /* border: rgb(1, 117, 9) solid; */
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom:.5vh;
  background-color: rgb(186, 220, 251);
  /* border: rgb(111, 1, 117) solid; */
}

.main__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-color: rgb(186, 220, 251);
  /* border: rgb(111, 1, 117) solid; */
}

.main__footer {
  display: flex;
  justify-content: center;
  position: static;
  height: 5vh;
  width: 100vw;
  background-color: rgb(132, 133, 149);
  /* border: rgb(212, 235, 4) solid; */
}

.footer_content {
  display: flex;
  width: 80%;
  /* border: rgb(230, 3, 21) solid; */
}

.footer_info {
  margin: 10px;
  /* border: rgb(230, 3, 21) solid; */
}
