@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

@media screen and (max-width: 400px) {
    .main__container {
        min-height: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Gothic A1, sans-serif;
  color: beige;
  background-color: rgb(186, 220, 251); 
}

.main {
  display: flex;
  flex-direction: column;
  font-size: medium;
  align-items: center;
}

.main__container {
  display: flex;
  position: static;
  min-height: 150vh;
  width: 80%;
  background-color: rgb(124, 181, 235);
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
  /* border: rgb(210, 0, 31) solid; */
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5.5vh .5vh .5vh .5vh;
  /* border: rgb(1, 117, 9) solid; */
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom:.5vh;
  background-color: rgb(186, 220, 251);
  /* border: rgb(111, 1, 117) solid; */
}

.main__body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 130vh;
  background-color: rgb(186, 220, 251);
  /* border: rgb(111, 1, 117) solid; */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(54, 54, 54);
}

.login-form p {
  cursor: pointer;
}

.login-form p:hover {
  font-weight: bold;
}