.submit-button {
    min-height: 4vh;
    min-width: 10vw;
    border: none;
    font-size: medium;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(46, 117, 183);
    color: beige;
}

.submit-button:hover {
    background-color: rgb(35, 97, 154);
    color: rgb(212, 212, 212);
}